<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
res_ids = df['Respondent']
unique_ids = []
dup_index = []
for res_id in res_ids:
    if res_id not in unique_ids:
        unique_ids = unique_ids + [res_id]

print("Duplicates: ", len(df['Respondent']) - len(unique_ids))

Duplicates:  154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
# your code goes here
df.drop_duplicates(inplace=True)
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,25136,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,36.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Difficult
11548,25137,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Poland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Tech...,25.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
11549,25138,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,34.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
11550,25141,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Switzerland,No,"Secondary school (e.g. American high school, G...",NaN,...,Somewhat less welcome now than last year,NaN,25.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
11551,25142,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,30.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Easy

Verify if duplicates were actually dropped.

In [5]:
# your code goes here
original_size = 11552
print(original_size - len(df))

154

## Finding Missing values

Find the missing values for all columns.

In [6]:
# your code goes here
missing_cvals = df.isnull().sum().to_dict()
missing_cvals

{'Respondent': 0,
 'MainBranch': 0,
 'Hobbyist': 0,
 'OpenSourcer': 0,
 'OpenSource': 81,
 'Employment': 0,
 'Country': 0,
 'Student': 51,
 'EdLevel': 112,
 'UndergradMajor': 737,
 'EduOther': 164,
 'OrgSize': 96,
 'DevType': 65,
 'YearsCode': 9,
 'Age1stCode': 13,
 'YearsCodePro': 16,
 'CareerSat': 0,
 'JobSat': 1,
 'MgrIdiot': 493,
 'MgrMoney': 497,
 'MgrWant': 493,
 'JobSeek': 0,
 'LastHireDate': 0,
 'LastInt': 413,
 'FizzBuzz': 37,
 'JobFactors': 3,
 'ResumeUpdate': 39,
 'CurrencySymbol': 0,
 'CurrencyDesc': 0,
 'CompTotal': 809,
 'CompFreq': 206,
 'ConvertedComp': 816,
 'WorkWeekHrs': 122,
 'WorkPlan': 121,
 'WorkChallenge': 164,
 'WorkRemote': 8,
 'WorkLoc': 32,
 'ImpSyn': 5,
 'CodeRev': 1,
 'CodeRevHrs': 2426,
 'UnitTests': 29,
 'PurchaseHow': 196,
 'PurchaseWhat': 38,
 'LanguageWorkedWith': 11,
 'LanguageDesireNextYear': 134,
 'DatabaseWorkedWith': 453,
 'DatabaseDesireNextYear': 1042,
 'PlatformWorkedWith': 411,
 'PlatformDesireNextYear': 544,
 'WebFrameWorkedWith': 1393,
 'WebFrameDesireNextYear': 1617,
 'MiscTechWorkedWith': 2182,
 'MiscTechDesireNextYear': 1455,
 'DevEnviron': 29,
 'OpSys': 34,
 'Containers': 82,
 'BlockchainOrg': 2322,
 'BlockchainIs': 2610,
 'BetterLife': 98,
 'ITperson': 35,
 'OffOn': 38,
 'SocialMedia': 293,
 'Extraversion': 20,
 'ScreenName': 507,
 'SOVisit1st': 325,
 'SOVisitFreq': 5,
 'SOVisitTo': 1,
 'SOFindAnswer': 3,
 'SOTimeSaved': 50,
 'SOHowMuchTime': 1917,
 'SOAccount': 1,
 'SOPartFreq': 1128,
 'SOJobs': 6,
 'EntTeams': 5,
 'SOComm': 0,
 'WelcomeChange': 85,
 'SONewContent': 1965,
 'Age': 287,
 'Gender': 73,
 'Trans': 123,
 'Sexuality': 542,
 'Ethnicity': 675,
 'Dependents': 140,
 'SurveyLength': 19,
 'SurveyEase': 14}

Find out how many rows are missing in the column 'WorkLoc'

In [7]:
# your code goes here
missing_cvals['WorkLoc']

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [8]:
# your code goes here
df['WorkLoc'].describe()

count      11366
unique         3
top       Office
freq        6806
Name: WorkLoc, dtype: object

Identify the value that is most frequent (majority) in the WorkLoc column.

In [ ]:
#make a note of the majority value here, for future reference
df['WorkLoc'].describe()['top']

'Office'

In [17]:
df['Employment'].describe()

count                  11398
unique                     2
top       Employed full-time
freq                   10968
Name: Employment, dtype: object

In [45]:
df.groupby('UndergradMajor')['UndergradMajor'].describe()

,count,unique,top,freq
UndergradMajor,,,,
"A business discipline (ex. accounting, finance, marketing)",244,1,"A business discipline (ex. accounting, finance...",244
"A health science (ex. nursing, pharmacy, radiology)",24,1,"A health science (ex. nursing, pharmacy, radio...",24
"A humanities discipline (ex. literature, history, philosophy)",207,1,"A humanities discipline (ex. literature, histo...",207
"A natural science (ex. biology, chemistry, physics)",403,1,"A natural science (ex. biology, chemistry, phy...",403
"A social science (ex. anthropology, psychology, political science)",210,1,"A social science (ex. anthropology, psychology...",210
"Another engineering discipline (ex. civil, electrical, mechanical)",759,1,"Another engineering discipline (ex. civil, ele...",759
"Computer science, computer engineering, or software engineering",6953,1,"Computer science, computer engineering, or sof...",6953
"Fine arts or performing arts (ex. graphic design, music, studio art)",161,1,Fine arts or performing arts (ex. graphic desi...,161
I never declared a major,124,1,I never declared a major,124
"Information systems, information technology, or system administration",794,1,"Information systems, information technology, o...",794
Mathematics or statistics,372,1,Mathematics or statistics,372
Web development or web design,410,1,Web development or web design,410

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [10]:
# your code goes here
df["WorkLoc"] = df['WorkLoc'].fillna(df['WorkLoc'].describe()['top'])

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [11]:
# your code goes here
df['WorkLoc'].isnull().sum()

np.int64(0)

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [51]:
# your code goes here
df.groupby("CompFreq").describe()

         Respondent                                                    \
              count          mean          std   min     25%      50%
CompFreq
Monthly      4788.0  12676.182957  7175.653498  16.0  6596.5  12809.5
Weekly        331.0  12242.389728  7602.399378  29.0  5332.0  11955.0
Yearly       6073.0  12355.379549  7256.404233   4.0  6028.0  12365.0

                            CompTotal                ... CodeRevHrs        \
               75%      max     count          mean  ...        75%   max
CompFreq                                             ...
Monthly   18802.25  25134.0    4303.0  1.159158e+06  ...        6.0  99.0
Weekly    19145.50  24890.0     288.0  1.404304e+05  ...        5.0  50.0
Yearly    18705.00  25141.0    5992.0  4.973790e+05  ...        5.0  54.0

             Age
           count       mean       std   min   25%   50%   75%   max
CompFreq
Monthly   4668.0  29.339010  6.589891  16.0  25.0  28.0  33.0  72.0
Weekly     318.0  30.011006  7.971996  17.0  24.0  29.0  34.0  71.0
Yearly    5929.0  31.942874  7.723908  17.0  26.0  30.0  36.0  99.0

[3 rows x 48 columns]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [103]:
# your code goes here
def comp(type):
    if type == "Weekly":
        return 52
    elif type == "Monthly":
        return 12
    else:
        return 1

df['NormalizedAnnualCompensation'] = df["CompTotal"] * df["CompFreq"].apply(comp)

df['NormalizedAnnualCompensation'].median()

np.float64(100000.0)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).